.flex-container {
    display: flex;
    justify-content: space-between;
}
.flex-item {
}
/*text*/
.text-white,.text-white-hover:hover{color:#FFF!important}
.text-black,.text-black-hover:hover{color:#000!important}
/*fontcolor*/
.light-white {color:#FFF!important;background-color:#FFF!important}

.shadow-t{
  box-shadow: 
}
body{
   background-color: #fff;
}

hr.blue {
  max-width: 50px;
  border-width: 5px;
  border-color: #4682B4; }

hr.light {
  border-color: white; }
  
  .shadow-t{
       text-shadow: 7px 5px 1px rgba(0, 0, 0, 0.41);
  }
.img100{
   width: 30px ;
}
.topfirst{
  padding-top: 15%;
}

.masthead-a{position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: white;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url('../images/c0.jpg');  
}
header.masthead-a .header-content {
    position: relative;
    width: 100%;
    padding: 150px 15px 100px;
    text-align: center; }
    header.masthead-a .header-content .header-content-inner h1 {
      font-size: 30px;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 0;
      text-transform: uppercase; }
    header.masthead-a .header-content .header-content-inner hr {
      margin: 30px auto; }
    header.masthead-a .header-content .header-content-inner p {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 50px;
      color: rgba(255, 255, 255, 0.7); }
  @media (min-width: 768px) {
    header.masthead-a {
      height: 40%;
       }
      header.masthead-a .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        header.masthead-a .header-content .header-content-inner {
          max-width: 1000px;
          margin-right: auto;
          margin-left: auto; }
          header.masthead-a .header-content .header-content-inner h1 {
            font-size: 50px; }
          header.masthead-a .header-content .header-content-inner p {
            font-size: 18px;
            max-width: 80%;
            margin-right: auto;
            margin-left: auto; } }
